input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"]
textarea,
fieldset {
  width: 100%;
  border: 1px solid #333;
  box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
}
input:focus:invalid {
    box-shadow: none;
  }
form{
    width:50%;
    background-color: gray;

}
fieldset > label {
    display: block;
  } 
fieldset> span{
    display:inline-block;
}
form button{
    padding:15px;
    border-radius: 10px;
    text-align: center;
    display:block;
}
input:invalid {
    box-shadow: 0 0 5px 1px red;
}